.TopBar {
  display: flex;
  background: #ffffff;
  padding-left: var(--left-bar-width);
  border-bottom: 1px solid #00000022;
}

.ColumnTitle {
  color: #222222;
  padding: 10px;
  border: 1px solid #00000022;
}

.LeftBar {
  background: #ffffff;
  padding-left: 10px;
  padding-right: 5px;
  width: var(--left-bar-width);
}

.DayMarker {
  border-bottom: 1px solid #000000;
}

.Checklist {
  display: flex;
  flex: 1;
}

.Column {
}

.Square {
  border: 1px solid #00000022;
}
