.ValueCard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--theme-color-three);
  width: 80%;
  border: 1px solid var(--theme-color-four);
  border-radius: 10px;
  padding: 20px;
  padding-top: 0;
  margin: 15px 0px;
}

.ValueCardMain {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
}

.ColorPallete {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--theme-color-two);
  border-radius: 5px;
}

.LeftSide {
  flex: 1;
}

.HabitName {
  flex: 1;
  margin: 5px;
  color: #222222;
  font-weight: 500;
}

.RightSide {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ValueColors {
  display: flex;
}

.ValueColorCircle {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin: 10px;
}

.ChevronSection {
  margin-right: 7vw;
}

.ButtonHolder {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 2;
}

.Edit {
  height: 16px;
  width: 16px;
  margin-left: 15px;
}

.Delete {
  height: 22px;
  width: 22px;
  margin-left: 15px;
}
